body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f6f6f6;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    width: 100%;
    height: 0;
    margin: auto;
    border: 3px solid #4a90e2;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

















































